/* -----------
MAIN BODY
----------- */

*{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.h-color{
    color: #E76F51;
}
.p-color{
    color: #6C6C6C;
}
/* ----------
HEADER SECTION
------------ */

.header-top, .header-info{
    background: #264653;
}

.header-info P{
    font-size: 14PX;
    color: #FFFFFF;
    font-weight: 300;
}

.header-info h1{
    font-size: 48PX;
    color: #FFFFFF;
    font-weight: 600;
}

.btn-custom {
    background-image: linear-gradient(tomato, orange);
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}


/*--------------
 Featured Section
 -------------- */
 .feature-section p{
    font-size: 14PX;
    color: #E76F51;
    font-weight: 600;
}

.image-grayscale{
    filter: grayscale(100%);
}

/*--------------
 Clients Review
 -------------- */

.custom-card .filled{
    color: #E77C40;
    }
.custom-card .empty{
    color: #E77C40;
}
.review-section p{
    font-size: 16px;
}
.review-section h4{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 600;
}
/*-----------
 Feedback 
 -----------*/
 .form-section{
    background: #264653;
}

/* --------------------------------
-----------------------------------
ALLAH HAFEEZ
-----------------------------------
----------------------------------- */