/* -----------
mAIN BODY
----------- */

*{
    font-family: 'Poppins', sans-serif;
}

/* ----------
HEADER SECTION
------------ */

.header-top, .header-info{
    background: #264653;
}

.header-info P{
    font-size: 14PX;
    color: #FFFFFF;
    font-weight: 300;
}

.header-info h1{
    font-size: 48PX;
    color: #FFFFFF;
    font-weight: 600;
}

.btn-own {
    background-image: linear-gradient(tomato, orange);
    text-decoration: none;
    color: white;
}


/*--------------
 Featured Section
 -------------- */

.image-grayscale{
    filter: grayscale(100%);
}

.our-card .filled{
        color: #E77C40;
    }
    .our-card .empty{
        color: #E77C40;

}
#feedback {
    background: #0d0442;
    padding: 7% 10%;
}

.hr-style {
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
}

.carousel-item {
    padding: 5% 15%;
    text-align: center;
    font-style: italic;
}

.feedback-img {
    width: 120px;
    height: auto;
}

.carousel-indicators {
    bottom: -20px;
}